.count{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.title{
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  color: var(--purple);
  margin-bottom: 1rem;
}

.nav{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-timer{
  display: flex;
  gap: 5rem;
}

.li-timer{
  list-style-type: none;
  font-weight: 300;
  font-size: 0.8rem;
  color: var(--text-color);
}

#time{
  font-size: 72px;
  font-weight: 400;
  color: var(--black);
}

.description{
  text-align: center;
  font-size: 14px;
  color: var(--text-color);
}

.btn{
  width: 160px;
  height: 46px;
  border: none;
  border-radius: 10px;
  background-color: var(--purple);
  color: white;
  cursor: pointer;
}

.content-image{
  width: 607px;
  height: 435px;
  margin: 0 auto;
}